@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$light-gray;
    height: 100vh;
}